/* Used for styles specific to the App component or top-level component styling. */

:root {
    --primary-color: #151213;
    --card-grey: #fffefe;
    --primary-text: #fffefe;
    --secondary-text: #343235;
    --tertiary-color: #8c8383;
    --card-orange: #f56c39;
    --card-green: #c4fe41;
    --default-transition: 0.15s ease-in-out;
}