/* Used for global styles and reset styles. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #151213;
    --card-grey: #fffefe;
    --primary-text: #fffefe;
    --secondary-text: #343235;
    --tertiary-color: #8c8383;
    --card-orange: #f56c39;
    --card-green: #c4fe41;
    --default-transition: 0.5s ease-in-out;
}

body {
    margin: 0 2.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--primary-color);
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
    body {
        margin: 0rem;
    }
}

html {
    scroll-behavior: smooth;
}



/* 
  ::-webkit-scrollbar {
    width: 0.5rem;
    background-color: white;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ff715b;
  } */

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    background: var(--card-orange);
    border-radius: 4px;
}

p{
    color: white;
}